<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="false">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="LogDirectory" value=".\Logs"/>

  <targets>
    <target xsi:type="Console" name="ConsoleLog" layout="${longdate}    ${level}    ${threadid}    ${logger}    ${message}    ${exception:format=tostring}"/>

    <target xsi:type="File" keepFileOpen="true" name="TotalLog" fileName="${LogDirectory}\TotalLog_${shortdate}.log"
            layout="${longdate}    ${event-properties:item=EventId_Id}    ${uppercase:${level}}    ${threadid}    ${logger}    ${message}    ${exception:format=tostring}" />

    <target xsi:type="File" keepFileOpen="true" name="StockerLog" fileName="${LogDirectory}\ImportantLog_${shortdate}.log"
            layout="${longdate}    ${event-properties:item=EventId_Id}    ${uppercase:${level}}    ${threadid}    ${logger}    ${message}    ${exception:format=tostring}    url: ${aspnet-request-url}    action: ${aspnet-mvc-action}" />

    <target xsi:type="File" keepFileOpen="true" name="DangerLog" fileName="${LogDirectory}\DangerLog_${shortdate}.log"
            layout="${longdate}    ${event-properties:item=EventId_Id}    ${uppercase:${level}}    ${threadid}    ${logger}    ${message}    ${exception:format=tostring}    url: ${aspnet-request-url}    action: ${aspnet-mvc-action}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="TotalLog" />
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="StockerLog, ConsoleLog" />
    <logger name="*" minlevel="Warn" writeTo="DangerLog" />
  </rules>
</nlog>
