<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <add key="WebAPIAddress" value="http://localhost:5050" />
    <add key="Title" value="巩义市审计局信息化资产管理系统"/>
  </appSettings>
</configuration>